*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
div.board{
    position: relative;
    width:1024px ;
    height: 863px;
    margin: auto;
    background: url("../img/board.jpg") no-repeat;
}
.messenger{
    position: absolute;
    top: 10px;
    left: 0px;
    color: #78b30d;
    font-size: 30px;

}
table{
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing:0px;

}
 td{
     width: 95px;
     height: 96px;
 }
 form{

     position: relative;
     margin-left: 40%;
     padding: 10px;
     width: 390px;
     background-color: #78b30d;
 }
 form input{

     background-color: #172c05;
     border-color: #78b30d;
     border-inline-start-color: #78b30d;
     font-size:70px;
     color:#78b30d;

 }
 .press{
     height: 90px;
     width: 180px;
 }
 button{

 }
 .hit{
     background: url("../img/ship.png") no-repeat center center;
 }
.miss{
    background: url("../img/miss.png") no-repeat center center;
}